.contenedorFlotante{
    float: left;
    position: relative;
    width: 23%;            
  }
  .espacioIzquierda{
    float: left;
    position: relative;
    width: 2%;
  }
  #contenedor{
    width: 99%;
    margin-left: 1%;
  }
  a{
    text-decoration: none;
  }
  #botonBusqueda{
    float: left;
    position: relative;
    width: 7%;
  }
  .centrar{
    float: left;
    position: relative;
    width: 21.5%;
  }
  #posicionVertical{
    margin-top: 5%;
  }
  #sinResultados{
    text-align: center;
    font-weight: bolder;
  }