#contenedorFDM{
    width: 100%;
    height: 1.7%;
}
#espacio0Punto4{
    margin-top: 0.2cm;
}
#fadn{
    width: 6.7cm;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 0.7cm;
}
#depto{
    width: 6cm;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 1.15cm;
}
#tamanioFuenteFederacion{
    font-size: 45%;
}
#tamanioFuenteMes{
    font-size: 46%;
}
#tamanioNombreDeporte{
    font-size: 60%;
}
#tamanioNombreDepartamento{
    font-size: 60%;
}
#tamanioNombreMes{
    font-size: 60%;
}
#tamanioAnio{
    font-size: 80%;
}
#tamanioFuenteDepartamento{
    font-size: 45%;
}
#tamanioFuenteDeporte{
    font-size: 45%;
}
#mes{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 0.35cm;
}
#contenedorInstrucciones{
    width: 18.9cm;
    margin-top: 1%;
}
.tamanioFuenteInstrucciones{
    font-size: 50%;
}
.fondo{
    border-top: 1.5px solid white;
    background-color: #00B0F0; 
    color:white;
    font-family: Century;
}
#altoCampos{
    height: 0.6cm;
    font-size: 45%;
}
#altoCamposMesAnio{
    height: 0.3cm;
    font-size: 45%;
}
#altoInformacion{
    height: 0.3cm;
    font-size: 45%;
}
.fondoBajo{
    background-color: #00B0F0; 
    color:white;
    font-family: Century;
}
#tituloTabla{
    background-color: #002060; 
    color:white;
    font-family: Century;
    height: 0.45cm;
    border-collapse: collapse;
    font-size: 65%;
}
.cuerpo{
    border: 0.3px solid black; 
    border-collapse: collapse;
}
#espacio1{
    height: 1.3%;
    width: 100%;
}
#espacio2{
    height: 0.5cm;
    width: 100%;
}
.textoCentrado{
    text-align: center;
}
.bordeDerechoGruesoBlanco{
    border-right: 1.5px solid white;
    border-collapse: collapse;
}
.bordeInferiorGruesoBlanco{
    border-bottom: 0.7px solid white;
    border-collapse: collapse;
}
.anchoFull{
    width: 100%;
}
#tamanioFuenteFormulario{
    font-size: 0.23cm;
}
.tamanioFuenteNombreMes{
    font-size: 68.75%;
}
#margen1{
    margin-left: 1%;
}
#contenedorPrincipal{
    width: 19.75cm;
    height: 100%;
    position: relative;
    top: -0.5cm;
    margin-left: 4.3cm;
}
#edad{
    text-align:right;
    width: 0.95356989247cm;
}
.anchoMA{
    width: 1.25502083333cm;
}
#anchoNo{
    width: 0.72356989247cm;
}
#anchoTipoAtleta{
    width: 2.10356989247cm;
}
#anchoNombre{
    width: 4.20356989247cm;
}
.ancho115{
    width: 11.5%;
}
#anchoGenero{
    width: 1.75356989247cm;
}
.anchoMCED{
    width: 2.15356989247cm;
}
#mostrarMes{
    position: absolute; 
    margin-left: 32.5%; 
    margin-top: 2.75%;
    text-align: center;
}
#lineaFADN{
    position: absolute; 
    margin-left: 39%; 
    margin-top: 0.09%;
}
#lineaDepartamento{
    position: absolute; 
    margin-left: 26.25%; 
    margin-top: 0.09%;
}
#interno1{
    margin-top: 0.8%;
    margin-left: 3.95cm;
    width: 4.3cm;
    height: 50%;
    float: left;
}
#interno2{
    margin-top: 0.8%;
    margin-left: 8.95cm;
    width: 2.3cm;
    height: 50%;
    float: left;
    position: relative;
}
#interno3{
    margin-top: 0.8%;
    margin-left: 12cm;
    width: 1.1cm;
    height: 50%;
    float: left;
    position: relative;
}
#interno4{
    margin-top: 0.8%;
    margin-left: 13.7cm;
    width: 1.6cm;
    height: 50%;
    float: left;
    position: relative;
}
.tipoFuente{
    font-family: "Century Gothic", sans-serif;
}
#tamanioFuenteRegistroNominal{
    font-size: 0.211cm;
}
.tamanioFuenteMRD{
    font-size: 0.24cm;
}
.tamanioFuenteCodigo{
    font-size: 0.225cm;
}
.tamanioFuenteVersion{
    font-size: 0.22cm;
}
.tamanioFuentePagina{
    font-size: 0.23cm;
}
#contenedorEncabezado{
    width: 100%;
    height: 1.08cm;
    border-bottom: 0.3px solid black;
    border-top: 0.3px solid black;
    border-left: 0.3px solid black;
    border-right: 0.3px solid black;
}
#foto{
    width: 0.65cm;
    height: 100%;
    border-right: 0.3px solid black;
    float: left;
    position: relative;
}
#inicial{
    width: 19.1cm;
    height: 0.7cm;
    border-bottom: 0.3px solid black;
    float: left;
    position: relative;
}
#final{
    margin-top: 2.88%;
    width: 19.1cm;
    height: 0.38cm;
    float: left;
    position: relative;
}
.formulario{
    width: 100%;
    height: 50%;
}
.margenSuperiorFormulario{
    margin-top: 0.3%;
}